body {
    background: url('../images/pizza.png');
    text-align: center;
}

#start {
    background-color: goldenrod;
}

.questionContainer {
    background-color: goldenrod;
}

body div {
    background-color: goldenrod;
}